* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    max-width: 100vw;
}

h1,
h3 {
    text-align: center;
    margin: 20px 0 20px 0;
}

span {
    font-size: 2em;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    padding: 0 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0366d6;
}

a:hover {
    color: #05a542;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0366d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 50%;
    text-transform: capitalize;

    svg {
        filter: invert(1);
    }
}

button:hover {
    background-color: #0552a5;
}
